* {
	box-sizing: border-box
}

body {
	font-size: 100%;
	padding: 0px;
	margin: 1px;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size-adjust: .5
}

#page {
	font-size: 1em;
	line-height: 1.25
}

@media(min-width:43.75em) {
	#page {
		font-size: 1em;
		line-height: 1.375
	}
}

h1 {
	font-size: 2em;
	line-height: 1.25;
	font-weight: small-caps;
}

@media(min-width:43.75em) {
	h1 {
		font-size: 2.5em;
		line-height: 1.125;
		font-variant: small-caps;
	}
}

@media(min-width:56.25em) {
	h1 {
		font-size: 3em;
		line-height: 1.05
	}
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615
}

@media(min-width:43.75em) {
	h2 {
		font-size: 2em;
		line-height: 1.25
	}
}

@media(min-width:56.25em) {
	h2 {
		font-size: 2.25em;
		line-height: 1.25
	}
}

h3 {
	font-size: 1.375em;
	line-height: 1.13636364
}

@media(min-width:43.75em) {
	h3 {
		font-size: 1.5em;
		line-height: 1.25
	}
}

@media(min-width:56.25em) {
	h3 {
		font-size: 1.75em;
		line-height: 1.25
	}
}

h4 {
	font-size: 1.125em;
	line-height: 1.11111111
}

@media(min-width:43.75em) {
	h4 {
		line-height: 1.22222222
	}
}

blockquote {
	font-size: 1.25em;
	line-height: 1.25
}

@media(min-width:43.75em) {
	blockquote {
		font-size: 1.5em;
		line-height: 1.45833333
	}
}

[class*="karna-"] {
	float: left;
	padding: 15px
}

.karna-1 {
	width: 8.33%
}

.karna-2 {
	width: 16.66%
}

.karna-3 {
	width: 24%
}

.karna-4 {
	width: 33%
}

.karna-5 {
	width: 41.66%
}

.karna-6 {
	width: 50%
}

.karna-7 {
	width: 58.33%
}

.karna-8 {
	width: 66.66%
}

.karna-9 {
	width: 75%
}

.karna-10 {
	width: 83.33%
}

.karna-11 {
	width: 91.66%
}

.karna-12 {
	width: 100%
}

@media only screen and (max-width:768px) {
	[class*="karna-"] {
		width: 100%
	}
	.indexsidebar1 {
		display: none;
	}
	.indexsidebar2 {
		display: none;
	}
	.indexsidebar3 {
		display: none;
	}
	.mmnsidebar1 {
		display: none;
	}
	.mmnsidebar2 {
		display: none;
	}
	.commentcount {
		display: none;
	}
	.agreement {
		max-width: 100%;
	}
	.typingjobssidebar1 {
		display: none;
	}

}

.header {
	margin-top: 0;
	border-radius: 5px;
	background-color: #DC4C46;
}


.header h1 {
	text-align: center;
	color: white;
	font-weight: 600;
}

.header p {
	text-align: center;
	color: white;
	font-size: 20px;
}

.navigation {
	margin: 0;
	padding: 3px 0 0 0;
}

.navigation ul {
	display: flex;
	list-style-type: none;
	flex-basis: 100px;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.navigation li {
	flex-grow: 1;
	margin-bottom: 3px;
	padding: 2px 0 0 2px;
}

.navigation a {
	text-align: center;
	padding: 15px;
	margin-right: 4px;
	text-decoration: none;
	display: block;
	font-size: 20px;
	background-color: white;
	border: .5px solid #DC4C46;
	border-radius: 4px;
	color: #DC4C46;
}

.navigation a:hover {
	background-color: #DC4C46;
	color: white;
	transition: .5s ease-in-out;
}

.funcontainer {
	border: .5px dashed black;
	display: flex;
	border-radius: 9px;
	flex-wrap: wrap;
	flex-basis: 200px;
	padding: 9px;
	margin-top: 10px;
}

.agreement {
	flex-grow: 1;
	flex-basis: 200px;
	margin-bottom: 9px;
	border: 2px solid rgb(206, 206, 206);
	max-width: 100%;
	width: 50%;
	z-index: 2;
	margin-right: 9px;
	color: rgb(38, 40, 45);
	background-color: rgb(251, 252, 253);
}

.agreement p {
	padding: 10px;
	font-size: 22px;
	line-height: 29px;
	color: rgb(38, 40, 45);
	background-color: #fbfcfd;
	font-stretch: 100%; //
	color: rgba(54, 57, 73, .09);
}

.funvideo {
	border: 2px solid rgb(206, 206, 206);
	flex-grow: 1;
	flex-basis: 200px;
	z-index: 2;
	padding: 0px;
	margin: 0px;
}

.funvideo p {
	padding: 0px;
	margin: 0px;
}

/* INDEX SIDEBAR AND THE SIDEBARPOSTCARD IS HERE */

.indexsidebar1 {
	border: .5px dotted rgba(220, 76, 70, 0.41);
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 10px;
	height: 1233px;
	padding: 0px;
}

.sidebarpostcard1 {
	border: 2px dashed #ada9a9;
	top: 10px;
	border-radius: 6px;
	position: sticky;
	line-height: 40px;
	margin: 0px;
	padding: 5px;
}

.sidebarpostcard1:hover {
	border: 1px dashed lightgrey;
	text-decoration: underline;
	box-shadow: 0 0 16px #3b5998;

}

.sidebarpostcard1 h2 {
	border-top: 3px solid red;
	padding: 1px 0px 0px 5px;
	margin: 0px;
	font-stretch: 100%;
	word-wrap: normal;
}

.sidebarpostcard1 a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.sidebarpostcard1 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

/** 2nd SIDEBAR IS HERE **/

.indexsidebar2 {
	border: .5px dotted rgba(220, 76, 70, 0.41);
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 10px;
	height: 1270px;
	padding: 0px;
}

.sidebarpostcard2 {
	border: 2px dashed #ada9a9;
	top: 10px;
	border-radius: 6px;
	position: sticky;
	line-height: 40px;
	margin: 0px;
	padding: 5px;
}

.sidebarpostcard2:hover {
	border: 1px dashed lightgrey;
	text-decoration: underline;
	box-shadow: 0 0 16px #3b5998;

}

.sidebarpostcard2 h2 {
	border-top: 3px solid red;
	padding: 1px 0px 0px 5px;
	margin: 0px;
	font-stretch: 100%;
	word-wrap: normal;
}

.sidebarpostcard2 a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.sidebarpostcard2 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}



.section1 {
	border: 2px solid lightgrey;
	margin-top: 15px; //box-shadow: 0 0 16px #3b5998;
	display: none;
}

/** INDEXSIDEBAR 3 IS HERE **/

.indexsidebar3 {
	border: .5px dotted rgba(220, 76, 70, 0.41);
	margin-top: 15px;
	margin-left: 10px;
	height: 1070px;
	border-radius: 5px;
	padding: 0px;
}

.sidebarpostcard3 {
	border: 2px dashed #ada9a9;
	top: 10px;
	border-radius: 6px;
	position: sticky;
	line-height: 40px;
	margin: 0px;
	padding: 5px;
}

.sidebarpostcard3:hover {
	border: 1px dashed lightgrey;
	text-decoration: underline;
	box-shadow: 0 0 16px #3b5998;

}

.sidebarpostcard3 h2 {
	border-top: 3px solid red;
	padding: 1px 0px 0px 5px;
	margin: 0px;
	font-stretch: 100%;
	word-wrap: normal;
}

.sidebarpostcard3 a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.sidebarpostcard3 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}


.adbar {
	border: .5px dashed #DC4C46;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	flex-basis: 100px;
	padding: 0;
	margin-top: 15px;
	border-radius: 5px;
}

/* -----------------------------------------------------*/

.article {
	background-color: rgba(54, 57, 73, .01);
}

.articlecontainer {
	margin-top: 15px;
	padding: 1px;
	border: .5px dotted rgba(220, 76, 70, 0.41);
	border-bottom: .5px dotted black;
	border-radius: 5px;
}

.articlecontainer img {
	width: 100%;
	padding: 4px;
	border: 1px dotted lightgrey;
	height: auto;
	display: block;
	max-width: 1000px;
	max-height: 500px;
}

.articlecontainer img:hover {
	opacity: 0.9;
}

.article h1 {
	border-bottom: .5px dotted rgba(220, 76, 70, 0.41);
	border-left: 5px solid #ff0e04;
	margin-bottom: 0;
	padding: 4px 0px 1px 9px;
	margin-top: 1px;
	font-variant: small-caps;
	transition: .5s ease-in-out;
}

.article a {
	text-decoration: none;
	color: blue;
}

.article a:hover {
	transform: .3s ease-in-out;
	color: red;
}

.article h4 {
	color: #000000;
	border: 1px solid lightgrey;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 0px;
	padding: 12px 2px 12px 10px;
	max-width: 300px;
	background-color: #d1d1d1;
	border-top-right-radius: 50px 50px;
	border-bottom-right-radius: 50px;
}

.bykarunakar {
	background-color: rgb(245, 242, 222);
	border-left: 9px solid #ffa700;
	padding: 10px;
	text-align: center;
	font-size: 19px;
	margin: 4px;
}

.article p {
	margin-top: 5px;
	padding: 0px 1px 0px 5px;
	word-wrap: normal;
	display: block;
	line-height: 40px;
	vertical-align: baseline;
	letter-spacing: normal;
	font-size: 18px;
	font-stretch: 100%;
	color: rgb(38, 40, 45);
	font-family: geomanist, Helvetica, Arial;

}

/* READ MORE ARTICLE IS HERE IS HERE BRO...!*/

.readmore {
	font-size: 20px;
	display: inline-flex;
	flex-wrap: wrap;
	flex-basis: 100px;
	margin-left: 70px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-stretch: 100%;
	border: 1px solid #DC4C46;
	border-radius: 3px;
	background-color: white;

}

.readmore a {
	text-decoration: none;
	text-align: center;
	padding: 20px;
	color: #DC4C46;
}

.readmore a:hover {
	background-color: #DC4C46;
	color: white;
	transition: .5s ease-in-out;
}

.commentcount {
	float: right;
	margin-top: 9px;
	margin-right: 50px;
	margin-bottom: 9px;
	font-size: 19px;
}

.commentcount p {
	color: black;
}

.commentbadge {
	border: 1px solid black;
	color: white;
	background-color: black;
	margin-left: 10px;
	padding: 8px;
	border-radius: 5px;
}


/** PAGINATION IS HERE **/

.pagination {

	border: .5px dashed rgba(0, 0, 0, 0.47);
	border-radius: 5px;
	display: flex;
	margin: 9px;
	flex-grow: 1;
	padding: 9px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.pagination a {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	margin-right: 9px;
	display: block;
	border: .5px dotted #DC4C46;
	padding: 15px;
	color: #DC4C46;
	border-radius: 5px;
}

.pagination a:hover {
	background-color: #DC4C46;
	transition: .5s ease-in-out;
	color: white;
}

.googlead {
	border: .5px dashed rgba(0, 0, 0, 0.47);
	padding: 9px;
	flex-grow: 2;
	margin: 9px;
}

.googlead p {
	border: 2px solid red;
}

/*FOOTERS BRO*/

.footercontainer {
	border: 2px solid lightgrey; //box-shadow: 0 0 16px #3b5998;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 9px;
	margin-top: 15px;
}

.footer1 {

	margin-right: 9px;
	margin-bottom: 9px;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 12px;
	flex-grow: 1;
	flex-basis: 200px;
}

.footer1 h4 {
	border: 1px solid white;
	padding: 10px;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
}

.footer1 p {
	padding: 10px 10px 2px 10px;
	margin-top: 5px;
	color: white;
	font-size: 19px;
	border-bottom: 2px dashed white;
	line-height: 30px;
}

.footer2 {
	border: 2px dashed lightgrey;
	margin-right: 9px;
	margin-bottom: 5px;
	flex-grow: 1;
	flex-basis: 200px;
}

.footer2 img {
	border: 1px solid red;
	width: 100%;
	height: auto;


}

.footer3 {

	flex-grow: 1;
	margin-bottom: 9px;
	border-radius: 12px;
	border: 1px solid lightgrey;
	flex-basis: 200px;

}

.footer3 img {
	padding: 1px;
	border-radius: 12px;
	width: 100%;
	height: auto;
}

.footer3 h1 {
	border-bottom: 1px dashed grey;
	padding: 5px;
	margin: 2px;
	text-align: center;


}

.qualifications {
	border-bottom: 1px dashed grey;
	padding: 0px;
	margin: 2px;
	color: grey;
	font-size: 25px;
	text-align: center;
}

#contact {
	border-bottom: 1px dashed grey;
	padding: 5px;
	margin: 2px;
	font-size: 19px;
	text-align: center;
}

.footer3 a {
	border: 1px solid lightgrey;
	display: inline-block;
	padding: 15px;
	margin: 5px;
	text-align: center;
	border-radius: 5px;

}

.footer3 a:hover {
	border: 1px solid blue;

}

.copyright {
	border: 1px solid lightgrey;
	margin-top: 15px;
	padding: 0; //box-shadow: 0 0 16px #3b5998;
	background-color: black;
}

.copyright p {
	color: white;
	padding: 12px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

/*POST ARTICLE STARTED HERE */

.postarticlecontainer {
	border-right: .5px dotted rgba(220, 76, 70, 0.41);
	border-left: .5px dotted rgba(220, 76, 70, 0.41);
	border-radius: 6px;
	margin-top: 15px;
	padding: 0;
	display: block;
}

.postarticlecontainer h1 {
	//border-top: .5px dotted rgba(220, 76, 70, 0.41);
	//border-bottom: .5px dotted rgba(220, 76, 70, 0.41); //background-color: #ffdddd;
	//border-bottom: 6px solid #f44336;
	padding: 0px 0px 15px 15px;
	margin: 0px;
	color: red;
	border: 3px solid #DC4C46;
	border-width: 0px 0px 1px 0px;
}

.postarticlecontainer p {
	margin: 0px;
	display: block;
	padding: 0px 3px 10px 10px;
	line-height: 40px;
	vertical-align: baseline;
	letter-spacing: normal;
	font-size: 18px;
	font-stretch: 100%;
	color: rgb(38, 40, 45);
	font-family: geomanist, Helvetica, Arial;

}

.captchajobs {
	padding: 0px;
	margin-bottom: 3px;


}

.captchajobs:hover {
	box-shadow: 0px 0px 50px 0px lightgrey;
	z-index: 2;
}

.typingjobtitle {
	padding: 0px;
	margin: 0px;
	background-color: #ffdddd;
	border-left: 6px solid #f44336;
	color: #2f2424;
}

.typingjobtitle h2 {
	padding: 10px 0px 10px 17px;
	margin: 0px;
}

i {
	border: solid #00A591;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3.5px;
	margin-right: 15px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.articleheadings {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	color: #000;
	font-weight: 500;
	margin-left: 1px;
	padding: 5px 0px 5px 15px;

}

.articleheadings h2 {
	font-size: 20px;
	font-stretch: 100%;
}

blockquote {
	border: 2px solid grey;
	margin: 3px;
	padding: 15px;
}

.postsection {
	border: none;
	margin-top: 15px;
	padding: 0px;
}

.postcomment {
	border: 1px solid green;
	margin-top: 15px;
	box-shadow: 0 0 14px #3b5998;
}


.previouspostsection {
	display: flex;
	flex-grow: 1;
	flex-basis: 200px;
	flex-wrap: wrap;
	padding: 0;
	margin-top: 0px;
	border: 0;
	box-shadow: none;
}

.previousposts1 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
}


.previousposts1:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;

}

.previousposts1 a {
	text-decoration: none;
}

.previousposts1 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts2 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	margin-top: 2px;
	padding: 5px;
}

.previousposts2:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts2 a {
	text-decoration: none;
}

.previousposts2 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts3 {
	border: 2px dashed grey;
	border-radius: 5px;
	padding: 5px;
	margin-left: 0;
	margin-top: 2px;
	margin-right: 3px;
}

.previousposts3 a {
	text-decoration: none;
}

.previousposts3:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts3 img {
	position: relative;
	width: 100%;
	border: 1px solid lightgrey;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts4 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts4 a {
	text-decoration: none;
}

.previousposts4:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts4 img {
	position: relative;
	width: 100%;
	border: 1px solid lightgrey;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts5 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts5 a {
	text-decoration: none;
}

.previousposts5:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts5 img {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border: 1px solid lightgrey;
}

.previousposts6 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 1px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts6 a {
	text-decoration: none;
}

.previousposts6:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts6 img {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border: 1px solid lightgrey;
}

.previousposts1 h2,
.previousposts2 h2,
.previousposts3 h2,
.previousposts4 h2,
.previousposts5 h2,
.previousposts6 h2 {
	margin: 0px;

}

/*MOST IMPORTANT SOCIAL SHARING ICONS + LINKS ARE HERE BRO...!*/

.sharing {

	border-top: .5px dotted rgba(220, 76, 70, 0.41);
	border-bottom: .5px dotted rgba(220, 76, 70, 0.41);
	border-radius: 6px;
	padding: 5px;
	margin-bottom: 10px;
}

.sharing ul {
	list-style-type: none;
	display: flex;
	padding: 5px;
	margin: 0;
	flex-basis: 100px;
	flex-wrap: wrap;
}

.sharing a {
	margin: 0px;
	flex-grow: 1;
	padding: 5px;
	margin-right: 3px;
	margin-bottom: 4px;
	text-align: center;
	border: .8px dotted #6B5B95;
	border-radius: 10px;
}

.sharing a:hover {
	border: .5px solid #6B5B95;
	border-radius: 10px;
}

.sharing img {
	padding: 0px;
	margin: 0px;
}

.facebookicon {
	margin-right: 4px;
}

.instagramicon {
	margin-right: 4px;
}

.twittericon {
	margin-right: 4px;
}

.linkedinicon {
	margin-right: 4px;
}

.googleplusicon {
	margin-right: 4px;
}

.whatsappicon {
	margin-right: 4px;
}

#myBtn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 99;
	/* Make sure it does not overlap */
	border: none;
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: blue;
	/* Set a background color */
	color: white;
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 10px;
	/* Rounded corners */
	font-size: 18px;
	/* Increase font size */
}

#myBtn:hover {
	background-color: #555;
	/* Add a dark-grey background on hover */
}

.subscribe {
	border: 2px solid red;
}
