* {
	box-sizing: border-box
}

body {
	font-size: 100%;
	background-color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size-adjust: .5
}

#page {
	font-size: 1em;
	line-height: 1.25
}

@media(min-width:43.75em) {
	#page {
		font-size: 1em;
		line-height: 1.375
	}
}

h1 {
	font-size: 2em;
	line-height: 1.25
}

@media(min-width:43.75em) {
	h1 {
		font-size: 2.5em;
		line-height: 1.125
	}
}

@media(min-width:56.25em) {
	h1 {
		font-size: 3em;
		line-height: 1.05
	}
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615
}

@media(min-width:43.75em) {
	h2 {
		font-size: 2em;
		line-height: 1.25
	}
}

@media(min-width:56.25em) {
	h2 {
		font-size: 2.25em;
		line-height: 1.25
	}
}

h3 {
	font-size: 1.375em;
	line-height: 1.13636364
}

@media(min-width:43.75em) {
	h3 {
		font-size: 1.5em;
		line-height: 1.25
	}
}

@media(min-width:56.25em) {
	h3 {
		font-size: 1.75em;
		line-height: 1.25
	}
}

h4 {
	font-size: 1.125em;
	line-height: 1.11111111
}

@media(min-width:43.75em) {
	h4 {
		line-height: 1.22222222
	}
}

blockquote {
	font-size: 1.25em;
	line-height: 1.25
}

@media(min-width:43.75em) {
	blockquote {
		font-size: 1.5em;
		line-height: 1.45833333
	}
}

[class*="karna-"] {
	float: left;
	padding: 15px
}

.karna-1 {
	width: 8.33%
}

.karna-2 {
	width: 16.66%
}

.karna-3 {
	width: 24%
}

.karna-4 {
	width: 33%
}

.karna-5 {
	width: 41.66%
}

.karna-6 {
	width: 50%
}

.karna-7 {
	width: 58.33%
}

.karna-8 {
	width: 66.66%
}

.karna-9 {
	width: 75%
}

.karna-10 {
	width: 83.33%
}

.karna-11 {
	width: 91.66%
}

.karna-12 {
	width: 100%
}

@media only screen and (max-width:768px) {
	[class*="karna-"] {
		width: 100%
	}
	.sidebar1 {
		display: none;
	}
	.sidebar2 {
		display: none;
	}
	.sidebar3 {
		display: none;
	}
	.postsidebar1 {
		display: none;
	}
	.postsidebar2 {
		display: none;
	}
	.commentcount {
		display: none;
	}
	.agreement {
		max-width: 100%;
	}
}

.header {
	border: 1px solid black;
	margin-top: 0;
	background-color: rgb(245, 97, 60);
}

.header h1 {
	text-align: center;
	color: white;
}

.header p {
	text-align: center;
	color: white;
}

.navigation {
	border-bottom: 2px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	margin: 0;
	padding: 3px 0 0 0;
}

.navigation ul {
	display: flex;
	list-style-type: none;
	flex-basis: 100px;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.navigation li {
	flex-grow: 1;
	margin-bottom: 5px;
	padding: 2px 0 0 2px;
}

.navigation a {
	text-align: center;
	padding: 12px;
	color: white;
	margin-right: 4px;
	text-decoration: none;
	border-right: 1px solid lightgrey;
	display: block;
	padding: 15px;
	background-color: royalblue;
	font-size: 20px;
}

.navigation a:hover {
	color: ghostwhite;
	background-color: dodgerblue;
}

.funcontainer {
	border: 1px solid lightgrey;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100px;
	padding: 9px;
	margin-top: 10px;
	box-shadow: 0 0 16px #3b5998;
}

.agreement {
	border: 2px dashed lightgrey;
	margin-bottom: 9px;
	flex-grow: 1;
	max-width: 100%;
	width: 50%;
	z-index: 2;
	margin-right: 9px;
}

.agreement p {
	padding: 10px;
	font-size: 22px;
	line-height: 29px;
}

.funvideo {
	border: 2px dashed lightgrey;
	flex-grow: 1;
	z-index: 2;
}

.funvideo h1 {
	padding: 2px;
	color: black;
}

.articlecontainer {
	margin-top: 15px;
	padding: 2px;
	border: 2px solid lightgrey;
	box-shadow: 0 0 16px #3b5998;
}

.articlecontainer img {
	width: 100%;
	padding: 4px;
	border: 1px dotted lightgrey;
	height: auto;
	max-height: 500px;
}

.articlecontainer img:hover {
	opacity: 0.9;
}

.article h1 {
	border-bottom: 1px dashed grey;
	border-top: 1px solid grey;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 0;
	padding: 4px;
	margin-top: 1px;
}

.article a {
	text-decoration: none;
	color: rgb(245, 17, 17);
}

.article a:hover {
	transform: .3s ease-in-out;
	color: blue;
}

.article h5 {
	border-bottom: 1px dashed grey;
	margin-top: 5px;
	margin-bottom: 0;
	padding: 3px 0 3px 0;
	text-align: center;
}

.article p {
	margin-top: 5px;
	padding: 10px;
	font-size: 16pt;
	word-wrap: normal;
	line-height: 2em;
	margin-bottom: 0;
	border-bottom: 1px solid grey;
	color: #26282d;
}

/* READ MORE ARTICLE IS HERE IS HERE BRO...!*/

.readmore {
	font-size: 20px;
	border: 1px solid lightgrey;
	display: inline-flex;
	flex-wrap: wrap;
	flex-basis: 100px;
	margin-left: 40px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.readmore a {
	text-decoration: none;
	text-align: center;
	padding: 15px;
	color: black;
}

.readmore a:hover {
	background-color: lightgrey;
	color: black;
}

.commentcount {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	margin-bottom: 12px;
	font-size: 19px;
}

.commentcount p {
	color: black;
}

.commentbadge {
	border: 1px solid black;
	color: white;
	background-color: black;
	margin-left: 10px;
	padding: 8px;
	border-radius: 5px;
}

/* SIDEBAR 1 IS HERE BRO*/

.sidebar1 {
	border-left: 2px solid lightgrey;
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	border-right: 2px solid lightgrey;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 10px;
	height: 1540px;
	box-shadow: 0 0 16px #3b5998;
}

.sidebar1 h1 {
	border: 1px solid red;
	position: sticky;
	max-height: 1425px;
	top: 0px;
	line-height: 40px;
}

.sidebar2 {
	border-left: 2px solid lightgrey;
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	border-right: 2px solid lightgrey;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 10px;
	height: 1515px;
	box-shadow: 0 0 16px #3b5998;
}

.sidebar2 h1 {
	border: 1px solid red;
	position: sticky;
	max-height: 1000px;
	line-height: 40px;
	top: 12px;
}

.section1 {
	border: 2px solid lightgrey;
	margin-top: 15px;
	box-shadow: 0 0 16px #3b5998;
}

.sidebar3 {
	border: 1px solid lightgrey;
	box-shadow: 0 0 16px #3b5998;
	margin-top: 15px;
	margin-left: 10px;
}

.adbar {
	border: 1px solid lightgrey;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	flex-basis: 100px;
	padding: 0;
	margin-top: 15px;
	box-shadow: 0 0 16px #3b5998;
}

.pagination {
	border: 1px solid lightgrey;
	display: flex;
	margin: 9px;
	flex-grow: 1;
	padding: 9px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	box-shadow: 0 0 5px #3b5998;
}

.pagination a {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	margin-right: 9px;
	display: block;
	border: 2px solid lightgrey;
	padding: 15px;
	color: black;
}

.pagination a:hover {
	background-color: lightgrey;
}

.googlead {
	border: 1px dashed black;
	padding: 9px;
	box-shadow: 0 0 5px #3b5998;
	flex-grow: 2;
	margin: 9px;
}

.googlead p {
	border: 2px solid red;
}

/*FOOTERS BRO*/

.footercontainer {
	border: 2px solid lightgrey;
	box-shadow: 0 0 16px #3b5998;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 9px;
	margin-top: 15px;
	flex-basis: 100px;
}

.footer1 {
	box-shadow: 0 0 5px #3b5998;
	margin-right: 9px;
	flex-grow: 1;
	margin-bottom: 9px;
	background-color: black;
	border-radius: 12px;
	flex-basis: 200px;
}

.footer1 h4 {
	border: 1px solid white;
	padding: 10px;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: white;
	background-color: black;
}

.footer1 p {
	padding: 10px 10px 2px 10px;
	margin-top: 5px;
	color: white;
	font-size: 19px;
	border-bottom: 2px dashed white;
	line-height: 30px;
}

.footer2 {
	border: 2px dashed lightgrey;
	box-shadow: 0 0 5px #3b5998;
	margin-right: 9px;
	margin-bottom: 5px;
	flex-grow: 1;
}

.footer2 p {
	padding: 12px;
	color: black;
}

.footer3 {
	box-shadow: 0 0 5px #3b5998;
	flex-grow: 1;
	margin-bottom: 9px;
	background-color: black;
	border-radius: 12px;
}

.footer3 ul {
	border: 1px solid white;
	padding: 15px;
	margin: 0px;
}

.footer3 h4 {
	color: white;
	border: 1px solid white;
	padding: 12px;
	text-align: center;
	font-size: 24px;
	margin: 0px;
}

.footer3 a {
	display: block;
	color: lightgrey;
	margin-bottom: 9px;
	border: 1px solid white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 19px;
}

.footer3 a:hover {
	background-color: white;
	color: black;
}

.copyright {
	border: 1px solid lightgrey;
	margin-top: 15px;
	padding: 0;
	box-shadow: 0 0 16px #3b5998;
	background-color: black;
}

.copyright p {
	color: white;
	padding: 12px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

/*POST ARTICLE STARTED HERE */

.postarticlecontainer {
	border: 1px solid lightgrey;
	margin-top: 15px;
	padding: 0;
	box-shadow: 0 0 16px #3b5998;
}

.postarticlecontainer h1 {
	border-bottom: 2px dashed lightgrey;
	padding: 10px 0px 10px 15px;
	margin: 0px;
	color: red;
}

.postarticlecontainer p {
	margin-top: 5px;
	border-top: 2px dashed lightgrey;
	border-bottom: 2px dashed lightgrey;
	margin-bottom: 1px;
	padding: 3px 3px 3px 15px;
	line-height: 2em;
	font-size: 16pt;
	color: #26282d;
}

.postarticlecontainer h2 {
	margin-top: 3px;
	margin-bottom: 0;
	padding: 1px 0 1px 12px;
}

/* -----------------------------------------------------*/

blockquote {
	border: 2px solid grey;
	margin: 3px;
	padding: 15px;
}

.postsidebar1 {
	margin-top: 15px;
	box-shadow: 0 0 14px #3b5998;
	margin-left: 7px;
	height: 2510px;
}

.postsidebar1 h1 {
	position: sticky;
	padding: 0px;
	top: 8px;
	margin-top: 0px;
	max-height: 2845px;
	line-height: 50px;
}

.postsection {
	border: none;
	margin-top: 15px;
	padding: 0px;
}

.postcomment {
	border: 1px solid green;
	margin-top: 15px;
	box-shadow: 0 0 14px #3b5998;
}

.postsidebar2 {
	box-shadow: 0 0 14px #3b5998;
	border: 1px solid blue;
	margin-top: 15px;
	position: relative;
	float: right;
	margin-left: 9px;
}

.previouspostsection {
	display: flex;
	flex-grow: 1;
	flex-basis: 200px;
	flex-wrap: wrap;
	padding: 0;
	margin-top: 0px;
	border: 0;
	box-shadow: none;
}

.previousposts1 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
}

.previousposts1:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts1 a {
	text-decoration: none;
}

.previousposts1 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts2 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	margin-top: 2px;
	padding: 5px;
}

.previousposts2:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts2 a {
	text-decoration: none;
}

.previousposts2 img {
	border: 1px solid lightgrey;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts3 {
	border: 2px dashed grey;
	border-radius: 5px;
	padding: 5px;
	margin-left: 0;
	margin-top: 2px;
	margin-right: 3px;
}

.previousposts3 a {
	text-decoration: none;
}

.previousposts3:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts3 img {
	position: relative;
	width: 100%;
	border: 1px solid lightgrey;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts4 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts4 a {
	text-decoration: none;
}

.previousposts4:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts4 img {
	position: relative;
	width: 100%;
	border: 1px solid lightgrey;
	height: auto;
	padding: 0;
	margin: 0;
}

.previousposts5 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 4px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts5 a {
	text-decoration: none;
}

.previousposts5:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts5 img {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border: 1px solid lightgrey;
}

.previousposts6 {
	border: 2px dashed grey;
	border-radius: 5px;
	margin-right: 1px;
	padding: 5px;
	margin-left: 0;
	margin-bottom: 3px;
}

.previousposts6 a {
	text-decoration: none;
}

.previousposts6:hover {
	border: 2px solid lightgrey;
	box-shadow: 0 0 12px 0 #3b5998;
	text-decoration: underline;
}

.previousposts6 img {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border: 1px solid lightgrey;
}

/*MOST IMPORTANT SOCIAL SHARING ICONS + LINKS ARE HERE BRO...!*/

.sharing {
	border-bottom: 2px solid lightgrey;
	padding: 0;
	margin-bottom: 10px;
}

.sharing ul {
	list-style-type: none;
	display: flex;
	padding: 5px;
	margin: 0;
	flex-basis: 100px;
	flex-wrap: wrap;
}

.sharing a {
	margin: 0px;
	flex-grow: 1;
	padding: 5px;
	margin-right: 3px;
	margin-bottom: 4px;
	text-align: center;
	border: 2px solid lightgrey;
}

.sharing a:hover {
	border: 2px solid black;
}

.sharing img {
	padding: 0px;
	margin: 0px;
}

.facebookicon {
	margin-right: 4px;
}

.instagramicon {
	margin-right: 4px;
}

.twittericon {
	margin-right: 4px;
}

.linkedinicon {
	margin-right: 4px;
}

.googleplusicon {
	margin-right: 4px;
}

.whatsappicon {
	margin-right: 4px;
}

#myBtn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 99;
	/* Make sure it does not overlap */
	border: none;
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: blue;
	/* Set a background color */
	color: white;
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 10px;
	/* Rounded corners */
	font-size: 18px;
	/* Increase font size */
}

#myBtn:hover {
	background-color: #555;
	/* Add a dark-grey background on hover */
}