<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-desc-col">
        <div style="margin: auto; text-align: center;">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive [ Text + Display ] = Default == 4 --><ins class="adsbygoogle footer_ad"
            data-ad-client="ca-pub-2687924945894784" data-ad-slot="6087844827"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="footer-col-1">
        <div class="col-header">Important Links</div>
        <a href="https://www.alltechnotricks.com">Home</a>
        <a href="https://www.alltechnotricks.com/Blog.html">Blog</a><a
          href="https://www.alltechnotricks.com/contact.html" rel="noopener noreferrer" target="_blank">Contact
          Me.</a><a href="https://www.alltechnotricks.com/sitemap.html">Sitemap.html</a><a
          href="https://www.alltechnotricks/sitemap.xml">Sitemap.xml File</a>
      </div>
      <div class="footer-col-2">
        <div class="col-header">Follow Me On.</div>
        <a href="https://www.facebook.com/KarunakarPatel.001">Facebook</a><a
          href="https://twitter.com/Karna_Patel_">Twitter</a><a href="https://www.linkedin.com/in/karunakarpatel/"
          rel="noopener noreferrer" target="_blank">LinkedIn.</a>
        <a href="#" rel="noopener noreferrer" target="_blank">Youtube</a>
      </div>
      <div class="footer-desc-col">

        <div style="margin: auto; text-align: center;">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive [ Text + Display ] = Default == 4 --><ins class="adsbygoogle footer_ad"
            data-ad-client="ca-pub-2687924945894784" data-ad-slot="6087844827"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
</footer>