		body {
			padding: 0px;
			margin: 3px;
			background: #ffffff;
		}

		* {
			box-sizing: border-box;
		}

		html {
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 400;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.2em;
			font-weight: bold;
			font-family: "Roboto Slab", "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 23px;
			margin-top: 2em;
			margin-bottom: 2em;
			color: #3c4243;
		}

		h2 {
			font-size: 22px;
		}

		h3 {
			font-size: 21px;
			font-weight: bold;
		}

		a {
			color: #148cbc;
			font-weight: normal;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		.article_container {
			width: 100%;
			height: auto;
			padding: 10px;
			margin-top: 20px;
			position: relative;
		}

		.navigation {
			width: 88%;
			height: auto;
			margin: auto;
			border-radius: 8px;
			margin-bottom: 10px;
		}

		.breadcrumb ol,
		.navigation ol {
			padding: 10px 16px;
			list-style: none;
			text-align: center;
			background-color: #eee;
			margin-bottom: 30px;
		}

		.breadcrumb ol li,
		.navigation ol li {
			display: inline-block;
			font-size: 18px;
			padding: 0px 5px 0px 0px;
		}

		.breadcrumb ol li+li:before,
		.navigation ol li+li:before {
			padding: 8px;
			color: black;
			content: "/\00a0";
		}

		.breadcrumb ol li a,
		.navigation ol li a {
			color: #0275d8;
			text-decoration: none;
		}

		.breadcrumb ol li a:hover,
		.navigation ol li a:hover {
			color: #01447e;
			text-decoration: underline;
		}

		.article {
			width: 83%;
			height: auto;
			margin: auto;
			padding: 15px 55px;
		}

		.article h1 {
			font-size: 41px;
			font-weight: 700;
			text-align: center;
			margin: 5px auto 27px auto;
			line-height: 1.3em;
			padding: 0;
			font-family: 'Rubik', 'Lato', "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
		}

		.article p {
			font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
			font-weight: normal;
			color: rgba(0, 0, 0, .84);
			font-size: 20px;
			font-weight: 400;
			line-height: 1.9;
			letter-spacing: -0.003em;
		}

		.header-image img {
			width: 60%;
			height: auto;
			background-color: none;
			margin: auto;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			outline: 10px solid lightgrey;
			outline-offset: 5px;
			display: flex;
			flex-grow: 1;
			margin-top: 20px;
		}

		.article-image img {
			width: 93%;
			height: auto;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			border-radius: 5px;
			display: flex;
			flex-grow: 1;
			background-color: rgba(0, 0, 0, 0.19);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.imp_container {
			border: 10px solid #f5f5f5;
			margin-top: 10px;
			padding: 15px;
			text-align: center;
			word-break: break-all;
		}

		.important_links {
			text-align: left;
		}

		.important_links ol {
			color: #06f;
			width: 80%;
			margin: auto;
		}

		.important_links li {
			padding: 5px;
			color: black;
			list-style: disc;
		}

		.important_links a {
			text-decoration: none;
			padding: 5px;
		}

		.important_links h2:hover {
			text-decoration: underline;
		}

		.important_links h2 {
			font-size: 15px;
			display: inline-block;
			color: #317ec9;
			padding: 0px;
			margin: 0px;
		}

		.article_inside_links ol {
			font-size: 20px;
			color: rgba(0, 0, 0, .84);
		}

		.article_inside_links li {
			line-height: 1.9;
			list-style: square;
		}

		.article_inside_notes {
			display: inline-flex;
			border: 1px solid lightgrey;
			border-radius: 5px;
			width: 100%;
			height: auto;
			padding: 15px;
		}

		.article_inside_notes:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 900ms ease-in-out;
		}

		.article_inside_notes svg {
			width: 60px;
			height: 60px;
			margin: auto;
			padding: 0px;
			flex-grow: 1;
			margin-right: 20px;
		}

		.article_inside_notes p {
			flex-grow: 3;
			margin-left: 30px;
		}

		.footer {
			height: auto;
			margin-top: 10px;
			width: 100%;
			flex-shrink: 100px;
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			flex-basis: 100px;
			flex-wrap: wrap;
			padding: 5px;
		}

		.column-1,
		.column-2,
		.column-3 {
			flex-grow: 1;
			border: 1px solid white;
			padding: 10px;
			position: relative;
			flex-wrap: wrap;
			flex-basis: 300px;
		}

		.subs_form {
			padding: 10px;
			border: 1px solid #317ec9;
			margin: auto;
			background-color: #317ec9;
			border-radius: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.subs_form p {
			color: white;
			font-size: 17px;
			text-align: center;
			font-stretch: ultra-expanded;
			font-weight: bolder;
		}

		.subs_form input {
			width: 100%;
			height: 45px;
			border: none;
			border-radius: 5px;
			margin-bottom: 13px;
		}

		.subs_form input[type=text] {
			text-align: center;
			font-weight: bold;
			font-size: 15px;
		}

		.subs_form input[type=submit] {
			background-color: salmon;
			color: white;
			font-variant: small-caps;
			font-size: 20px;
		}

		.subs_form input[type=submit]:hover {
			background-color: blue;
			transition: all 900ms linear;
			cursor: pointer;
		}

		.column-links {
			border: 1px solid #317ec9;
			padding: 0px;
			margin: 0px;
			width: 100%;
			height: auto;
			background: #317ec9;
			border-radius: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.column-links p {
			padding: 0px;
			margin: 0px;
			text-align: center;
			font-size: 19px;
			font-style: italic;
			color: white;
			font-stretch: ultra-expanded;
			font-weight: bolder;
		}

		.column-links ol {
			list-style: none;
			display: inline-block;
			color: white;
			padding: 3px 0px 0px 35px;
			margin: 0px;
		}

		.column-links ol li {
			padding: 5px;
			margin-bottom: 8px;
		}

		.column-links li::before {
			content: '☑';
			display: inline-block;
		}

		.column-links li a {
			text-decoration: none;
			padding: 0px 0px 0px 10px;
			font-size: 17px;
			color: white;
			margin: 0px;
		}

		.column_inside {
			border: 1px solid lightgrey;
			border-radius: 2px;
			height: 280px;
			width: 336px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			outline: 15px solid #317ec9;
			background: white;
			outline-offset: 3px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.copyright {
			width: 100%;
			height: auto;
			margin-top: 10px;
			border: 1px solid lightgrey;
			outline: 10px solid rgba(0, 0, 0, 0.19);
			outline-offset: 5px;
			text-align: center;
			border-radius: 5px;
			font-size: 18px;
			background: #06f;
			color: white;
		}

		.section {
			border: 10px solid #f5f5f5;
			margin-top: 20px;
			width: 100%;
			height: auto;
			display: flex;
			flex-basis: 100px;
			flex-wrap: wrap;
			padding: 10px;
			margin-bottom: 20px;
		}

		.section_column_1 {
			flex-grow: 1;
			padding: 15px;
		}

		.section_column_2 {
			flex-grow: 1;
			padding: 10px;
			text-align: center;
		}

		.section_column_2_inside {
			height: 280px;
			width: 336px;
			border: 1px solid lightgrey;
			border-radius: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin: auto;
			outline: 10px solid salmon;
			outline-offset: 5px;
			margin-top: 40px;
		}

		.sharing-container {
			padding: 0px;
			border: 1px solid lightgrey;
			border-radius: 5px;
			width: 400px;
			height: auto;
			margin: auto;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.sharing-container img {
			border-bottom: 7px solid #ffdb15;
			outline: none;
			background-color: rgba(0, 0, 0, 0.19);
			width: 100%;
			height: auto;
		}

		.sharing-container h5 {
			display: block;
			font-size: 21px;
			text-align: center;
			font-variant: small-caps;
			color: #111111;
			line-height: 1.5em;
			margin: 0px;
		}

		.sharing-container p {
			font-size: 20px;
			display: block;
			line-height: 1.5em;
			padding: 10px 1px 4px 5px;
			margin: 0px;
		}

		.sharing-container ul {
			list-style: none;
			padding: 10px;
			text-align: center;
		}

		.sharing-container li {
			border: 1px solid #e20087;
			border-radius: 5px 12px 7px 10px;
			display: inline-block;
			padding: 5px;
			margin: 0px 5px 0px 5px;
		}

		.sharing-container a {
			font-size: 19px;
			text-decoration: none;
			margin: 0px;
			padding: 10px;
			color: #111111;
			font-weight: bolder;
		}

		.sharing-container a:hover {
			text-decoration: underline;
		}

		.anim_container {
			position: absolute;
			top: 30%;
			right: 30px;
			left: auto;
			bottom: auto;
			position: fixed;
			z-index: 99;
		}

		#show {
			border: 1px solid white;
			padding: 15px;
			cursor: pointer;
			border-radius: 50%;
			background: none;
			float: right;
			z-index: 1;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-top: 210px;
			background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
		}

		#show svg {
			fill: #FFFFFF;
		}

		#links_container {
			border-radius: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			width: 420px;
			height: auto;
			background: #fff;
			margin: 20px;
			margin-top: -20px;
			margin-right: 70px;
			z-index: 1;
			padding: 20px;
			display: none;
		}

		#links_container ol {
			padding: 0px 0px 0px 30px;
			margin: 0px;
			text-align: left;
		}

		#links_container li {
			padding: 0px 5px;
			margin: 0px;
			list-style: disc;
			list-style-position: outside;
		}

		#links_container a {
			text-decoration: none;
			line-height: 24px;
			font-size: 15px;
		}

		#links_container a:hover {
			text-decoration: underline;
		}

		#links_container ol:nth-child(2) {
			list-style: none;
			margin: auto;
			padding: 0px;
			text-align: center;
		}

		#links_container ol:nth-child(2) li {
			display: inline-block;
			border: 1px solid white;
			background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
			border-radius: 5px;
			padding: 3px;
			margin: 20px 10px 10px 0px;
			animation: vertical 6s linear infinite;
			-webkit-animation: vertical 6s linear infinite;
		}

		#links_container ol:nth-child(2) li:nth-child(2) {
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
		}

		#links_container ol:nth-child(2) li:nth-child(3) {
			animation: vertical 3s linear infinite;
			-webkit-animation: vertical 3s linear infinite;
		}

		#links_container ol:nth-child(2) li a {
			color: white;
			font-size: 20px;
			font-weight: bolder;
			font-variant: small-caps;
			padding: 10px;
		}

		#links_container ol:nth-child(2) li a:hover {
			text-decoration: none;
		}

		.karna-sharing {
			width: 123px;
			height: 50px;
			z-index: 9999999;
			position: absolute;
			top: auto;
			right: auto;
			left: 1%;
			bottom: 5%;
			position: fixed;
			background: white;
			border-radius: 3px;
			padding: 3px;
		}

		.learn-more ul {
			padding: 15px;
			list-style: none;
			font-size: 19px;
			color: #06f;
			border-left: 5px solid #2196f3;
		}

		.learn-more ul svg {
			width: 40px;
			height: 40px;
			animation: float 650ms ease-in-out infinite;
			-webkit-animation: float 650ms ease-in-out infinite;
		}

		.learn-more li {
			margin: 15px;
			padding: 5px;
			color: #3c4243;
			list-style: disc;
		}

		.learn-more li a {
			line-height: 1.5em;
			font-weight: 500;
			font-family: "Roboto Slab", "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 23px;
		}

		.comments-container {
			outline: 8px solid #f3f3f3;
			outline-offset: 5px;
			width: 100%;
			height: auto;
			margin: auto;
			border-radius: 5px;
			padding: 30px;
			text-align: center;
		}

		#disqus_thread a {
			text-decoration: none;
			margin: auto;
			padding: 15px;
			font-size: 19px;
			border-radius: 9px;
			background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
			color: #317ec9;
		}

		#disqus_thread a:nth-child(1) {
			color: white;
		}

		#disqus_thread a:nth-child(1):hover {
			transition: all 300ms ease-in-out;
			color: white;
			background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
		}

		#disqus_thread a:hover {
			color: #317ec9;
		}

		hr {
			border: 1px dotted lightgrey;
		}

		@media only screen and (max-width:760px) {
			* {
				font-family: 'Lato', sans-serif;
			}
			h2 {
				font-size: 24px;
				line-height: 1.5em;
				font-weight: 700;
				margin-top: 1.5em;
				margin-bottom: 1.5em;
			}
			h3 {
				font-size: 20px;
				line-height: 1.2em;
				font-weight: 700;
				margin-top: 1.5em;
				margin-bottom: 1.5em;
			}
			.article {
				width: 100%;
				outline: none;
				outline-offset: 0px;
				padding: 10px;
				border-radius: none;
				border-top: 5px solid #06f;
				border-bottom: 5px solid #06f;
				margin-top: 20px;
			}
			.article-image img,
			.header-image img {
				outline: 5px solid #e8e8e8;
				width: 98%;
				height: auto;
			}
			.navigation {
				width: 98%;
				height: auto;
				border-radius: 10px;
			}
			.breadcrumb ol li {
				display: inline;
				font-size: 15px;
			}
			.article h1 {
				font-size: 23px;
				font-weight: 700;
				text-align: center;
				line-height: 1.735em;
				font-family: inherit;
				margin-bottom: 10px;
			}
			.article p {
				font-size: 17px;
				line-height: 1.9em;
				overflow-wrap: break-word;
			}
			.article_container {
				padding: 0px;
			}
			.important_links {
				width: 100%;
				font-size: 14px;
				word-break: keep-all;
				word-wrap: normal;
			}
			.imp_container {
				padding: 5px;
			}
			.important_links ol {
				margin: 0px;
				width: 100%;
				font-size: 17px;
				padding: 0px;
			}
			.important_links li a {
				font-size: 16px;
				line-height: 20px;
			}
			.article_inside_links li {
				font-size: 17px;
				list-style-position: inside;
				line-height: 1.9;
			}
			.article_inside_notes {
				display: block;
				text-align: center;
			}
			.article_inside_notes svg {
				margin: 0px;
				width: 40px;
				height: 40px;
				margin-bottom: 10px;
			}
			.article_inside_notes p {
				margin: 0px;
			}
			.section {
				padding: 0px;
				margin: 0px;
				margin-top: 15px;
				border: none;
				border-bottom: 5px solid #06f;
				border-radius: 5px;
			}
			.section_column_1,
			.section_column_2 {
				margin-bottom: 15px;
			}
			.sharing-container ul {
				padding: 0px;
			}
			.sharing-container li {
				margin: 0px;
				padding: 5px;
			}
			.sharing-container a {
				font-size: 16px;
			}
			.footer {
				padding: 0px;
				margin-top: 15px;
				margin-bottom: 15px;
				display: block;
				width: 100%;
				height: auto;
			}
			.column-1,
			.column-2,
			.column-3 {
				display: block;
			}
			.column-2 {
				position: none;
				width: 100%;
				height: 350px;
			}
			.copyright p {
				font-size: 15px;
			}
			.anim_container {
				top: auto;
				bottom: 7%;
				right: 15px;
				left: auto;
			}
			#links_container {
				margin-top: {
					{
						page.margin-top
					}
				}
				;
				margin-right: 20px;
				width: 320px;
				height: auto;
				padding: 15px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
			#links_container ol:nth-child(2) {
				list-style: none;
				margin: 5px 0px;
			}
			#links_container ol:nth-child(2) li {
				margin: auto;
				margin-right: 5px;
				margin-top: 9px;
				font-size: 19px;
			}
			#links_container ol:nth-child(2) li a {
				font-size: 17px;
			}
			.share_buttons {
				top: 10%;
			}
			#show {
				z-index: 999;
				margin-right: 30px;
				margin-top: 0px;
				margin-bottom: 10px;
				background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
			}
			#show svg {
				width: 25px !important;
				height: 25px !important;
				fill: white;
			}
			.article_inside_links ol {
				padding: 10px;
			}
			.article img {
				width: 100%;
				height: auto;
			}
			.learn-more ul {
				padding: 10px;
			}
			.learn-more li a {
				font-size: 18px;
			}
			.karna-sharing {
				bottom: 3px;
				position: absolute;
				top: auto;
				left: 3px;
				position: fixed;
			}
			.sharing-container {
				width: 100%;
				height: auto;
			}
			.sharing-container ol {
				padding: 0px;
				text-align: center;
			}
			.comments-container {
				border: 1px solid lightgrey;
			}
			#disqus_thread a {
				font-size: 16px;
			}
		}

		@media only screen and (max-width:900px) {
			.article {
				width: 100%;
				height: auto;
			}
			.section_column_1 {
				margin-bottom: 10px;
			}
		}

		.karna_g_ads,
		.karna_g_ads_desktop {
			width: 336px;
			height: 280px;
		}

		.karna_g_ads {
			outline: 8px solid rgba(211, 211, 211, 0.22);
			outline-offset: 5px;
			border-radius: 5px;
			border: 1px solid rgba(211, 211, 211, 0.43);
		}

		@media(min-width: 500px) {
			.karna_g_ads {
				width: 728px;
				height: 90px;
				/*								border: 1px solid black;*/
			}
		}

		@media(min-width: 800px) {
			.karna_g_ads {
				width: 728px;
				height: 90px;
			}
		}
